:root {
    --primary-color: #ffcf04;
    --secondary-color: #020817;
    --text-color: #f9f6dc;
    --color-success: #2db818;
    --color-error: #ff0000;
    --color-warning: #ffbb00;

    --font-orbitron: 'Orbitron', sans-serif;
    --font-sora: 'Sora', sans-serif;
}

/* resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
select,
textarea {
    font: inherit;
    font-size: inherit;
    font-family: inherit;
}

/* resets.end */

.title {
    font-size: 2rem;
    font-family: var(--font-orbitron);
    font-weight: bold;
    text-align: center;
}

.form-section {
    min-height: 100vh;
    width: 100%;

    position: relative;
    padding: 1.5rem 0;

    display: grid;
    place-content: center;
    gap: 1rem;

    isolation: isolate;
}

.form-section::after {
    content: "";

    height: 100%;
    width: 100%;

    position: absolute;
    inset: 0;
    z-index: -2;

    background-image: url(/images/background-image.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

.form {
    height: fit-content;
    width: 100%;

    position: relative;
    margin: 0 auto;
    padding: 2rem;

    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 1rem;

    border-radius: 10px;

    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 5px 15px 0px;

    overflow: hidden;
}

.form::after {
    content: "";

    height: 100%;
    width: 100%;

    position: absolute;
    inset: 0;
    z-index: -1;

    /* filter: blur(0px); */
    background-color: #f9f6dc;
    opacity: 0.5;
}

.form-group {
    display: grid;
    gap: .125rem;

    padding: .25rem;
}

.input {
    width: 100%;
}

.input-text,
.input-number,
.select-validator,
.select-format {
    padding: 1ex 2ex;

    border: none;
    border-radius: 10px;
    box-shadow:
        rgba(0, 0, 0, 0.4) 0px 5px 15px 0px;
}

.label {
    text-box-trim: trim-both;

    text-transform: uppercase;
    font-size: 1rem;
    font-family: var(--font-sora);
}

.input-radio-list {
    list-style-type: none;

    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.input-radio {
    height: 1rem;
    width: 1rem;

    accent-color: var(--primary-color);

    cursor: pointer;
}

.input-range {
    outline: none;
    border-radius: 3px;
    accent-color: var(--primary-color);
    cursor: pointer;
}

.form-button {
    padding: 1ex 2ex;

    border: none;
    border-radius: 10px;

    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 5px 15px 0px;

    text-align: center;
}

.response-section {
    min-height: fit-content;
    width: 100%;
}

/* validaciones */
input:not(:placeholder-shown):valid {
    outline-color: var(--color-success);
}

.input:not(:placeholder-shown):invalid {
    outline-color: var(--color-error);
}

.input:focus:invalid {
    outline-color: var(--color-warning);
}

.output-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.output-info {
    align-items: center;
    white-space: pre-line;
}

.smiley-image {
    color: var(--color-success);
}

.disappointed-image {
    color: var(--color-error);
}

@media (min-width: 768px) {
    .form {
        grid-template-columns: 1fr;
        width: 90%;
    }
}
